@import url('https://fonts.googleapis.com/css?family=Akronim|Amatic+SC|Just+Another+Hand|Sofia|Stylish');

$bg_std: #888;
$home_bg: orange;
$black: #000;
$white: #fff;
$green: rgb(135, 219, 135);
$dark-green: rgb(58, 112, 60);
$animation_time: 350ms;

/******** font style and sizes*****/
$font_std: 'helvetica';
$stylish: 'Stylish', sans-serif, Helvetica;
$cursive: 'Akronim', cursive, Helvetica, Arial;
$sofia-cursive: 'Sofia', cursive, Helvetica, Arial;
$font-big: 5vw;
$font-medium: 3vw;
$font-small: 1.9vw;
$p-style: 'Just Another Hand', cursive, Helvetica;
$input-font: 'Amatic SC', cursive, Helvetica;
$bold: 700;

/************ size and layout *****************/
$gutter_std: 1vw;
$center: center;
$rounded: 10px;
$pic-height: 170px;
$pic-width: 150px;
$none: 0;
$twenty-three: 23%;

